.watchlist-section {
  height: 180px;
}

.placeholder-box {
  background-color: #e5e7eb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b5563;
  font-weight: 600;
  text-align: center;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}
